body {
    background-color: azure;
}

img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: rgb(133, 131, 131);
}

footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: rgb(133, 131, 131);
}

